body {
  font-family: 'Arial', sans-serif;
  background-image: url('viaje5.jpeg'); /* Ruta de la imagen */
  background-size: cover; /* Hace que la imagen cubra toda la pantalla */
  background-position: center center; /* Centra la imagen en la pantalla */
  background-attachment: fixed; /* Hace que la imagen quede fija al hacer scroll */
}
#faq {
    
    padding: 40px 20px;
    border-radius: 8px;
    color: #505af0;
  }
  
  /* Estilo para las preguntas */
  .faq-item h5 {
    color: #4853f5;
    font-size: 1.25rem;
  }
  
  /* Estilo para las respuestas */
  .faq-item p {
    font-size: 1rem;
    color: rgb(255, 255, 255);
    line-height: 1.5;
  }
  
  /* Estilo de texto para mejorar la lectura */
  .faq-item {
    border-bottom: 1px solid white;
    padding-bottom: 20px;
  }
  
  .faq-item:last-child {
    border-bottom: none;
  }
  